<h1>Lista de Productos</h1>
<ul>
    {{#each products}}
        <li>
            <h3>{{this.name}}</h3>
            <p>{{this.description}}</p>
            <p>Precio: ${{this.price}}</p>
            <a href="/products/{{this._id}}">Ver detalles</a>
            <button onclick="addToCart('{{this._id}}')">Agregar al carrito</button>
        </li>
    {{/each}}
</ul>

{{#if hasPrevPage}}<a href="?page={{prevPage}}">Página anterior</a>{{/if}}
Página {{page}} de {{totalPages}}
{{#if hasNextPage}}<a href="?page={{nextPage}}">Página siguiente</a>{{/if}}
